{% extends 'base.html.twig' %}
  
{% block title %}MAJ livres{% endblock %}
  
{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-3">Modifiez le livre</h2>
        <div class="card">
            <div class="card-header">
                <a class="btn btn-outline-info float-right" href="{{ path('app_symfonyproject_index') }}"> 
                    Acceuil
                </a>
            </div>
            <div class="card-body">
                {% include 'symfonyproject/_form.html.twig' with {'button_label': 'Mettre à jour', 'button_color': 'btn-outline-success'}  %}
            </div>
        </div>
    </div>
{% endblock %}